@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent overscroll behaviors */
    background-color: #f9fafb;
    /* Match bg-gray-50 */
}

/* Safe area for mobile */
body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}